.card {
  transition: box-shadow 0.3s ease;
}
.card__body,
.card__content,
.card__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__content,
.card__title {
  flex-grow: 1;
}
.card__title {
  margin: 0;
}
.card__type {
  flex-shrink: 0;
}
._wordWrap {
  max-width: 125px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.guarantee {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.price {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.card__orderTitle {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
._smallFontSize {
  font-size: 12px;
}

.card:hover {
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.cardContent {
  cursor: pointer;
}

.icon {
  transition: box-shadow 0.3s ease;
}
.icon:hover {
  color: red;
}
